.naiyou {
    text-align: left;
}

.thich .fa {
    /* float: left; */
    color: rgb(240, 90, 90);
}

.thich:focus .fa {
    color: rgb(153, 152, 152);
}

.thich:hover .fa {
    color: rgb(153, 152, 152);
}

.edit:hover {
    text-decoration: none;
}