#headers {
    clear: both;
    position: relative;
    z-index: 100;
    height: 70px;
    width: 100%;
    background-color: #fff;
}

#topbar {
    background-color: #fff;
}

.level {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#ip1 {
    border-radius: 25px 0 0 25px;
}

#ip2 {
    border-radius: 0 25px 25px 0;
}